Repository msp-strath/Mary, pull requests merged in 2020-03, with the labels that each got.

#11 [ test ] for Mary too
  .github/workflows/haskell.yml
  Makefile
  mary.cabal
  src/Shonkier/Examples.hs
  src/Shonkier/Pandoc.hs
  src/examples/bipping.gold
  src/examples/bipping.shonkier
  src/examples/hello.gold
  src/examples/hello.mary
  test/Main.hs
  test/Test/Main.hs
  test/Test/Mary.hs
  test/Test/Shonkier.hs
  test/Test/Utils.hs
Labels: testing

#25 Use optparse-applicative for argument parsing
  mary.cabal
  mary.hs
  src/Mary/ServePage.hs
  test/Test/Shonkier.hs
Labels: enhancement

#26 [ new ] import machinery
  examples/enum.gold
  examples/hello.gold
  examples/inlines.gold
  examples/length.gold
  examples/length.jsgold
  examples/length.shonkier
  examples/list.gold
  examples/list.jsgold
  examples/list.shonkier
  mary.cabal
  src/Mary/Pandoc.hs
  src/Shonkier.hs
  src/Shonkier/Examples.hs
  src/Shonkier/Import.hs
  src/Shonkier/Parser.hs
  src/Shonkier/Parser/Examples.hs
  src/Shonkier/Pretty.hs
  src/Shonkier/Pretty/Examples.hs
  src/Shonkier/Primitives.hs
  src/Shonkier/Scope.hs
  src/Shonkier/Semantics.hs
  src/Shonkier/Semantics.hs-boot
  src/Shonkier/Shonkier.js
  src/Shonkier/ShonkierJS.hs
  src/Shonkier/Syntax.hs
  src/Shonkier/Value.hs
  src/Utils/List.hs
Labels: shonkier

#32 [ fix #20 ] Parser for C-style comments
  examples/comments.gold
  examples/comments.jsgold
  examples/comments.shonkier
  src/Shonkier/Parser.hs
Labels: shonkier

#33 [ new ] emacs mode for Shonkier
  emacs/emacs
  emacs/shonkier.el
  examples/highlighting.gold
  examples/highlighting.jsgold
  examples/highlighting.shonkier
Labels: shonkier

#35 Syntax highlighting for code in markdown
  examples/enum.gold
  examples/hello.gold
  examples/highlighting.gold
  examples/highlighting.jsgold
  examples/highlighting.shonkier
  examples/inlines.gold
  mary.cabal
  src/Mary/Pandoc.hs
  src/Shonkier.hs
  src/Shonkier/Pretty.hs
  src/Shonkier/Pretty/Render/Pandoc.hs
  src/Shonkier/Syntax.hs
  src/Shonkier/Value.hs
  src/Utils/List.hs
  src/data-dir/shonkier.css
  templates/mary.html5
Labels: highlighting

#38 [ fix #21 ] Add semicolon
  emacs/shonkier.el
  examples/semi.gold
  examples/semi.jsgold
  examples/semi.shonkier
  src/Shonkier/Parser.hs
  src/Shonkier/Pretty.hs
  src/Shonkier/Scope.hs
  src/Shonkier/Semantics.hs
  src/Shonkier/ShonkierJS.hs
  src/Shonkier/Syntax.hs
  src/Shonkier/Value.hs
  src/data-dir/Shonkier.js
Labels: shonkier

#39 [ new ] Import located based on the current file
  examples/import-up.gold
  examples/import-up.jsgold
  examples/import-up.shonkier
  examples/subdir/import-down.gold
  examples/subdir/import-down.jsgold
  examples/subdir/import-down.shonkier
  src/Shonkier.hs
  src/Shonkier/Import.hs
  src/Shonkier/Pretty.hs
  src/Shonkier/Semantics.hs
  src/Shonkier/ShonkierJS.hs
  src/Shonkier/Syntax.hs
  src/Shonkier/Value.hs
  src/Utils/List.hs
Labels: shonkier
